@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
/* Thanks to Pexels Phillippe Don and Noah Buscher for their pictures */

/* MOBILE Layout */

/* QUESTIONS: Spacing: Two spcaebars or a tab? */
/* any shortcut to indent properly? */
/* Do we need to use the API? */
/* Debugging: the same code one after another works */

body {
	margin: 0;
	}

#home {
	background: url('../images/pexels-philippe-donn-1257860.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}

#start-skywatching{
	background: url('../images/noah-buscher-PSnkh76C-Z8-unsplash.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}

#sky-calendar{
	background: url('../images/kayle-kaupanger-RdtpmPGXtA8-unsplash.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}



#about {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/simon-abrams-k_T9Zj3SE8k-unsplash.jpg") ;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* why is it not covering? */

}

#content {
  display: flex;
  flex: 3;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid white;
  justify-content: center;
  gap: 2em;
  width: 100%;
  margin-top: 3%;
  padding: 5%;
  color:beige;
  text-wrap: wrap;
  font-size: small;
}

#skills {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background-color: beige;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/pexels-antoni-shkraba-4348405.jpg");
  background-size: cover; 
  border: 1px solid #ccc;
  border-radius: 15%;
  box-sizing: border-box;
}

#education {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background-color: beige;
  background-image: url("../images/pexels-bo-ponomari-14720826.jpg");
  background-size: cover; 
  border: 1px solid #ccc;
  border-radius: 15%;
  box-sizing: border-box;
  word-break: break-all;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  background-color: beige;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/pexels-adrienn-1458283.jpg");
  /* background-image: url("../images/pexels-adrienn-1458283.jpg"); */
  background-size: cover;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 15%;
  box-sizing: border-box;
}

#banner {
	top: 15%;
	width: 80%;
	margin: 0 auto;
	font-family: "Merriweather", serif;
	font-size: small;
	color: white;
	/* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
	opacity: 1;
	position: relative;
	
}

/* designing a specific element */
#menuToggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: silver;
	color: black;
	font-size: 3em;
	text-align: right;
	line-height: 1em;
	padding: 0 1rem;
	z-index: 1;
}

#menu {
	position: fixed;
    font-family: "Merriweather", serif;
	font-weight: 700;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: silver;
	opacity: 0;
	transform: translateX(100vw);
	cursor: pointer;
	transition: transform 0.4s, opacity 0.6s;
	z-index: 1;
}

#menu.open {
	transition: transform 0.4s, opacity 0.2s;
	transform: none;
	opacity: 1;
}

#menu a {
	font-size: 2em;
	text-decoration: none;
	padding: 0.5em 1em;
	color: black;
	text-align: center;
	flex-grow: 1;
	position: relative;
}

#menu a:hover {
	color: goldenrod;
	transform: scale(1,1);
	transition: all 0.3s ease-in-out;
}

p {
	padding: 0 1em;
	max-width: 600px;
	margin: 1em auto;
	line-height: 1em;
	font-size: 3em;
}

footer, #footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	opacity: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	background-color: grey;
	color: white;
	font-size: 0.7em;
	z-index: 3;
	border-radius: 50% 50% 0% 0%;
	display: flex;
}

#footer a {
	color: lightgray;
	padding: 2em;
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-style: italic;
	text-align: bottom;
	font-size: large;
}

#footer a:hover {
	color: goldenrod;
	transform: scale(1,1);
	transition: all 0.3s ease-in-out;
}

/* TABLET AND DESKTOP STYLES */

@media screen and (min-width: 515px) {

   /* applies to screens wider than 514px */
  
   #about {
	  background-size: cover;
   }

	#menuToggler {
		display: none;
	}

	#menu {
		display: flex;
		flex-direction: row;
		flex-grow: initial;
		border-radius: 20px;	
		transform: none;
		opacity: 1;
		height: auto;
		position: fixed;
		gap: 0.1px;
		top: 30px;
		background: transparent;
	}	

	#menu a {
	color: white;
	padding: 1, 4;
	margin: 1, 4;
	font-family: Cochin;
	font-size: x-large;
	justify-content: center;
	text-align: center;
	}

	#banner {
	width: 80%;
	margin: 20% auto;
	font-family: "Merriweather", serif;
	font-size: small;
	color: white;
	/* text-shadow: rgb(255, 255, 255) 1px 0 10px; */
	opacity: 1;
	position: relative;
	}

	#content {
		display: flex;
		flex: 3;
		flex-direction: row;
		box-sizing: border-box;
		border: 1px solid white;
		justify-content: center;
		gap: 3%;
		width: 100%;
		margin-top: 30%;
		padding: 5%;
	}
	
	#skills {
	  flex-direction: row;
	  width: 30%;
	}
	
	#education {
	  flex-direction: row;
	  width: 30%;
	}
	
	#contact {
	  flex-direction: row;
	  width: 30%;
	}

}


