@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
/* Thanks to Pexels Phillippe Don and Noah Buscher for their pictures . . . and more */

/* MOBILE Layout */

/* Do we need to use the API? */
/* Are there marks for user-input? */
/* Debugging: the same code one after another works */

body {
	margin: 0;
	}

#home {
	background: url('../images/pexels-philippe-donn-1257860.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}

#start-skywatching{
	background: url('../images/noah-buscher-PSnkh76C-Z8-unsplash.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}

#sky-calendar{
	background: url('../images/kayle-kaupanger-RdtpmPGXtA8-unsplash.jpg') no-repeat center center fixed;
	opacity: 1;
	background-size: cover;
	background-position: center;
}

#about {
	/* When the linear gradient is removed, the picture covers */
	/* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/simon-abrams-k_T9Zj3SE8k-unsplash.jpg") ;	 */
	background: url('../images/simon-abrams-k_T9Zj3SE8k-unsplash.jpg') no-repeat center center fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* why is it not covering? */

}

#about-content, #sky-watching-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  box-sizing: border-box;
  /* only for designing purposes */
  border: 2px solid grey;
  gap: 2em;
  width: 100%;
  margin-top: 3%;
  padding: 5%;
  color:beige;
  text-wrap: wrap;
  font-size: small;
}

#art, #poem, #step_1, #step_2, #step_3 {
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 550px;
	margin: 10% auto;
	box-sizing: border-box;
	border: 5px solid black;
	border-radius: 0%;
	backdrop-filter: blur(5px);
	align-items: stretch;
	justify-content: center;
}

#art, #poem {
	background-color: bisque;
}

#step_1, #step_2, #step_3 {
	/* background-color: 	rgb(56, 83, 93); */
	backdrop-filter: blur(7px);
}

#step_1_pic, #step_2_pic, #step_3_pic {
	display: flex;
	width: 80%;
	height: 200px;
	margin: auto;
	/* in case image does not load */
	background-color: beige;
    background-size: cover; 
	background-repeat: no-repeat;
	border: 5px solid black;
	border-radius: 15%;
	box-sizing: border-box;
	background-position: top;
}

#step_1_pic {
	background-image: url("../images/look-at-the-sky.jpg");
}

#step_2_pic {
	background-image: url("../images/clouds.jpg");
}

#step_3_pic {
	background-image: url("../images/pexels-todd-trapani-1420440.jpg");
}

#banner {
	top: 7%;
	width: 90%;
	margin: 20% auto;
	padding-bottom: 5%;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 175;
	font-size: 0.5rem;
	color: white;
	text-align: center;
	opacity: 1;
	position: relative;
	box-sizing: border-box;
	border-top: 3px solid white;
	border-bottom: 5px solid silver;
	border-radius: 15px;
	backdrop-filter: blur(13px);
}

#banner a{
	font-size: 1.6rem;
	font-weight: bold;
	width: 80%;
	color:black;
	font-family: 'Merriweather', serif;
	background-color: bisque;
	box-sizing: border-box;
	border-top: 5px solid black;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
}

#art_pic, #poem_pic {
	display:flex;
	margin-top: 3px;
	width:100%;
	height:200px;
	background: url(../images/ancient-art.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	/* why is this not working? */
	border-radius: 10px;
}

#poem_pic {
	background: url(../images/night-sky-watercolour.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#art_text, #poem_text {
	display:flex;
	flex-direction: column;
	width:90%;	
	margin: auto;
	color:black;
	text-align: left;
	line-height: 1.3;
	text-align: center;
	align-items: stretch;
	overflow-y:auto;
}

#art_text {
	font-family: "Josefin Sans", sans-serif;	
	font-size: 1.5rem;
}

#poem_text {
	font-family: "Cedarville Cursive", cursive;
	height: 45%;
	font-style: italic;
	font-weight: bolder;
	font-size: 1.75rem;
}


#art_motivation, #poem_motivation {
	background-color: bisque;
	width: 90%;
	margin: 0% 1% auto auto;
	color:black;
	font-weight:bold;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
}

#art_caption {
	font-size: smaller;
}

#step_1_text, #step_2_text, #step_3_text {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 0.7rem;
	font-weight: 179;
}

#website_use {
	display: flex;
	width: 85%;
	/* when using images, height should be in pixels */
	height: 450px;
	margin: 1% auto;
	box-sizing: border;
	border: 5px solid black;
	border-radius: 15px;
	background-color: bisque;
	padding: 7px;
	gap: 5px;
}

#website_use_pic {
	display:flex;
	width:50%;
	height:100%;
	background: url(../images/website-use.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border: 5px solid rgb(78, 75, 75);
	border-radius: 15px;
}

#website_use_text {
	width: 50%;
	height: 100%;
	font-family: "Josefin Sans", sans-serif;
	font-weight: light;
	color:rgb(25, 25, 25);
	font-size: 0.5rem;
	overflow: auto;
}

#homepage_action {
	display: flex;
	width: 100%;
	height: 100px;
	margin: 5% 0 0 0;
	box-sizing: border-box;
	border: 3px solid rgb(94, 90, 90);
	backdrop-filter: blur(3px);
	text-align: center;
	justify-content: center;
	justify-items: center;
	border-radius: 0px;
}

#homepage_action_box {
	justify-self: center;
	vertical-align: middle;
	height: fit-content;
	background-color: grey;
	padding: 5px;
	margin: auto;
	border-radius: 10px;
}

#homepage_action_box a {
	color:blanchedalmond;
	font-family: 'Merriweather', sans-serif;
	font-size: 2rem;
    font-weight: bolder;
	text-decoration: double;
}

#homepage_action_box a:hover {
	-webkit-text-stroke: 2px black;
	-webkit-text-fill-color: blanchedalmond;
	transform: scale(1,2);
	transition: all 0.3s ease-in-out;
}




/* designing a specific element */
#menuToggler {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: silver;
	color: black;
	font-size: 3em;
	text-align: right;
	line-height: 1em;
	padding: 0 1rem;
	z-index: 1;
}

#menu {
	position: fixed;
    font-family: "Merriweather", serif;
	font-weight: 700;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: silver;
	opacity: 0;
	transform: translateX(100vw);
	cursor: pointer;
	transition: transform 0.4s, opacity 0.6s;
	z-index: 1;
}

#menu.open {
	transition: transform 0.4s, opacity 0.2s;
	transform: none;
	opacity: 1;
}

#menu a {
	font-size: 2em;
	text-decoration: none;
	padding: 0.5em 1em;
	color: black;
	text-align: center;
	flex-grow: 1;
	position: relative;
}

#menu a:hover {
	color: goldenrod;
	transform: scale(1,1);
	transition: all 0.3s ease-in-out;
}

p {
	padding: 0 1em;
	max-width: 600px;
	margin: 1em auto;
	line-height: 1em;
	font-size: 3em;
}

footer, #footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	opacity: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	background-color: grey;
	color: white;
	font-size: 0.7em;
	z-index: 3;
	border-radius: 50% 50% 0% 0%;
	display: flex;
}

#footer a {
	color: lightgray;
	padding: 2em;
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-style: italic;
	text-align: bottom;
	font-size: large;
}

#footer a:hover {
	color: goldenrod;
	transform: scale(1,1);
	transition: all 0.3s ease-in-out;
}

#skills, #education, #contact {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 200px;
	margin: 0 auto;
	background-color: beige;
	background-size: cover; 
	background-position: center;
	border: 1px solid #ccc;
	border-radius: 15%;
	box-sizing: border-box;
	word-break: break-all;
  }
  
  #skills {
	  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/pexels-antoni-shkraba-4348405.jpg");
  }
  
  #education {
	  background-image: url("../images/pexels-bo-ponomari-14720826.jpg");
  }
  
  #contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/pexels-adrienn-1458283.jpg");
	/* background-image: url("../images/pexels-adrienn-1458283.jpg"); */
  }


 .mySwiper {
	min-width:100vh;
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
 }

 .mySwiper p{
	font-size: small;
 }

 .swiper-slide {
	height: auto;
	background: white;
	border: 4px solid pink;
	margin-bottom: 10px;
	border-radius: 20px;
	position: relative;
 }

 .swiper-content {
	font-size: 30px;
	color: white;
	background: url(../images/ancient-art.jpg);
 }



/* the slideshow1 styles */

/* slideshow1 container */
 .slideshow1-container, .slideshow2-container {
	display: flex;
	width: 80%;
	padding-top: 15%;
	min-height: 350px;
	height:fit-content;
	position: relative;
	margin: auto;
	top: 10vh;
  }


	/* make sure the nearest container is referenced */
  .slideshow1-img {
	height: 100%;
	width: 100%; 
	object-fit: cover;
	top: 0px;
	position: absolute;
	box-sizing: border-box;
	border-radius: 5%;
	border: 4px solid silver;
  }

  .mySlides, .mySlides2 {
	display: none;
	width: 100%;
	}

  .mySlides2 p{ 
	font-size: small;
	vertical-align: middle;}

  #slideshow_intro {
	text-align: ;
  }

    /* Next & previous buttons */
  .prev1, .next1, .prev2, .next2 {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  
  /* Position the "next button" to the right */
  .next1, .next2 {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .prev2:hover, .next1:hover, .next2:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .slideshow1_titletext, .slideshow2_titletext, .slideshow1_text, .slideshow2_text, .slideshow1_intro, .slideshow2_intro {
	padding: 8px 12px;
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: 'Merriweather', serif;
	text-align: left;
  }

  .slideshow2_titletext {
	box-sizing: border-box;
	backdrop-filter: blur(10px);
  }

  .slideshow2_text {
	color: black;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	text-wrap: balance;
	bottom: 13px;
	font-size: 17px;
	font-style: italic;
	font-weight: bold;
  }

  .slideshow1_text {
	color: white;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	text-wrap: balance;
	bottom: 8px;
	font-size: 17px;
	font-style: italic;
	font-weight: 100;
  }

  .slideshow1_intro, .slideshow2_intro {
	text-align: center;
	font-weight: 100;
	margin:auto;
	font-size: 50px;
  }

  .slideshow2_intro {
	color: black;
	font-weight: bold;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	text-wrap: balance;
  }

  .slideshow1_intro {
	color: white;
  }

  .slideshow1_titletext, .slideshow2_titletext{
	color: #f2f2f2;
	text-align: center;
	font-weight: 100;
	top: 8px;
	font-size: 37px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext1, .numbertext2 {
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }

  .numbertext1 {
	color: white;
  }

  .numbertext2 {
	color: black;
  }


  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	z-index: 1;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  





/* TABLET AND DESKTOP STYLES */

@media screen and (min-width: 515px) {

   /* applies to screens wider than 514px */
  
    #about {
	  background-size: cover;
	  background-position: center;
    }

	#menuToggler {
		display: none;
	}

	#menu {
		display: flex;
		flex-direction: row;
		flex-grow: initial;
		border-radius: 20px;	
		transform: none;
		opacity: 1;
		height: auto;
		position: relative;
		gap: 0.1px;
		top: 30px;
		background: transparent;
	}	

	#menu a {
	color: white;
	padding: 1, 4;
	margin: 1, 4;
	font-family: Cochin;
	font-size: x-large;
	justify-content: center;
	text-align: center;
	}

	#banner {
	width: 90%;
	margin: 9% 5% auto;
	font-size: 0.7rem;
	font-weight: bold;
	}
	
	#banner a{
		font-size: 1.9rem;
	}

	#motivation {
		display: flex;
		flex-direction: row;
	}

	#art, #poem {
		flex-direction: column;
		border: 15px solic silver;
		border-radius: 0%;
		background-color: blanchedalmond;
		color: black;
		height: 510px;
		width: 45%;
		gap: 15px;
	}

	#art_pic, #poem_pic {
		align-items: center;
		width: 100%;
		height: 50%;
	}

	#art_text, #poem_text {
		color: black;
		width: 100%;
		height: 50%;
		justify-content: center;
		font-size: 1.2rem;
		/* how do I get the text to be centered when screen max size? */
	}

	#art_text {
		width: 90%;
		text-align: center;
	}

	#art_motivation{
		width: 90%;
	}

	#about-content, #sky-watching-content {
		display: flex;
		flex: 3;
		flex-direction: row;
		box-sizing: border-box;
		border: 1px solid white;
		justify-content: center;
		gap: 3%;
		width: 100%;
		margin-top: 00%;
		padding: 5%;
	}
	
	#skills {
	  flex-direction: row;
	  width: 30%;
	}
	
	#education {
	  flex-direction: row;
	  width: 30%;
	}
	
	#contact {
	  flex-direction: row;
	  width: 30%;
	}

}


.slideshow1 {
	width: 90%;
	height: 250px;
	/* top bottom right left */
	margin: 30% auto;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	border: 5px solid white;
	font-family: "Merriweather", serif;
	font-size:0.6em;
	color:bisque;
	font-style: italic;
	text-align: center;
	backdrop-filter: blur(1px);
  }
  
  .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: slideshow1 12s infinite;
	opacity: 0;
	box-sizing: border-box;
	border: 1px solid white;

  }
  
  .slide:nth-child(1) {
	animation-delay: 0s;
  }
  
  .slide:nth-child(2) {
	animation-delay: 4s;
  }
  
  .slide:nth-child(3) {
	animation-delay: 8s;
  }

  .slide:nth-child(4) {
	animation-delay: 12s;
  }
  
  @keyframes slideshow1 {
	0% { opacity: 0; }
	8% { opacity: 1; }
	33% { opacity: 1; }
	41% { opacity: 0; }
	100% { opacity: 0; }
  }
  
  button {
	margin: 10px;
	padding: 10px;
	font-size: 16px;
  }
